html {background-image: url( https://kbdevstorage1.blob.core.windows.net/asset-blobs/19170_en_1) 
    font-family: cursive;
    background-color: #ccf5ff;
}
h1{ color: #000033;
margin-left: 450px;
margin-top: 50px;
}
ul{ margin-left:450px;
    color: #006680;
}
.to-do{ 
    margin-left: 100px;
    color: #162230;
}
