
 
            <h1> To-do list for school </h1>
        <ul>
            <li> Chemistry project <input type= "checkbox"> <a href= "show.html" >Open</a> </li>
            <li> Math homework <input type= "checkbox">  <a href= "show.html" >Open</a> </li>
            <li> English essay<input type= "checkbox"> <a href= "show.html" >Open</a> </li> 
            <li> Tuesday meeting with Valencia <input type= "checkbox"> <a href= "show.html" >Open</a> </li>
            <li> Working papers <input type= "checkbox"> <a href= "show.html" >Open</a> </li>
            <a href= "#" class="to-do">Add a To-do</a>
        </ul>
        <p> Let's do some math</p>
        <%=@number%> 
        

